

body {
  background:#fff;
  font-size: 14px;
  font-family: Stratum2-Regular;
  letter-spacing: 1px;
  font-weight: 400;
  white-space: normal;
}

.whiteBg {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 50%;
  top: 0;
  z-index: -1;
}

.blueBg {
  background: #8abbe4;
  height: 50%;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.orangeBg {
  background: #d73f09;
  height: 100%;
  position: fixed;
  width: 50%;
  bottom: 0;
  z-index: -1;
}

.beaver-orange {
  background: #d73f09;
}

.title{
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.pagetop {
  background: #d73f09;
  color: black;
  font-family: Stratum2-Bold;
  font-size: 3em;
  display: inline-block;
}

.navbar {
  background: black;
  font-family: Stratum2-Bold;
  font-size: 120%
}

.section-header {
  font-family: Stratum2-Medium;
  font-size: 2em;
  color: black;
}

.modal-dialog.wide {
  width: 800px
}

/* login start */
/* .loginScreenBg{background: url(../images/bg.jpg) no-repeat top left fixed;
  -webkit-background-size: cover;  -moz-background-size: cover;  -o-background-size: cover;  background-size: cover;
  } */
.wlcmeTxtDiv .wlcmeTxt {
  padding: 5px 10px;
  background: #8abbe4;
  color: #fff;
  border-radius:5px;
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.logo img {
  width: 150px;
  height: auto;
}
.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.loginBg {
  background: #fff;
  box-shadow: 0px 0px 10px 5px #ccc;
}

.loginBg input, .loginBg button { border-radius:0; }
.loginBg button {
  box-shadow: 3px 3px 3px #ccc;
  width: 100%;
  background: #333;
  color:#fff;
  padding: 10px;
  border: none;
  letter-spacing: 2px;
}

/* header start */
.header{
  background: #fff;
  padding: 15px 0;
  box-shadow: 0 8px 8px -4px #ccc;
}

.header img {
  width: 120px;
  height: auto;
}
/* header end */


/* container / wrapper start */
.wrapper{
  background:#fff;
  box-shadow: 0px 0px 10px 5px #ccc;
  padding-bottom: 20px;
}
/* container / wrapper end */

/* heading start */
h2{
  margin-bottom: 20px;
  padding: 5px 10px;
  background: #ffffff;
  font-size: 22px;
  border-radius:5px;
  box-shadow:0 6px 6px -4px #ccc;
  color: #fff;
}
/* heading end */

/* alert start */
.alertDiv {
  display: none;
  padding: 2px 10px;
  margin-bottom: 10px;
  border-radius:5px;
}
/* alert end */

/* alert start */
.anonymousDiv {
  display: none;
  padding: 2px 10px;
  margin-bottom: 10px;
  border-radius:5px;
}

.queTable .alert-info {
  padding: 3px 10px;
  margin-bottom: 20px;
  border-radius:5px;
}
/* alert end */

/* reflow table start */
.curPointer { cursor: pointer; }
.trheader { font-weight: bold; }
.trheader textarea { font-weight: normal; }
.reflow-table table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.reflow-table table tr:nth-child(odd) {
    background-color: #fff;
}

.fstColWidth { width: 5%; }
.secndColWidth { width: 43%; }
.fourthColWidth { width: 22%; }
/* reflow table end */


/* star rating start */
.rating-g .br-widget a {
  display: block;
  float: left;
  background:url(../images/star.png);
  height: 24px;
  width: 24px;
  margin: 1px;
}

.rating-g .br-widget a.br-active,
.rating-g .br-widget a.br-selected {
  background:url(../images/star2.png);
  height: 24px;
  width: 24px;
}

.rating-g .br-widget .br-current-rating {
  line-height: 1.1;
  color: #646464;
	padding: 5px 10px;
  margin-left: 10px;
  float: left;
}

/*  star rating end */


@media only screen and (max-width: 800px) {
  html, body { height:auto; }
  /* Force table to not be like tables anymore */
  .reflow-table table, .reflow-table thead, .reflow-table tbody, .reflow-table th, .reflow-table td,
  .reflow-table tr { display: block; }

  /* Hide table headers (but not display: none;, for accessibility) */
  .reflow-table table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .reflow-table table tr { border: 1px solid #ccc; }

  /* Behave  like a "row" */
  /* Now like a table header */
  .reflow-table table td {
    padding-left: 10px;
    padding-right: 10px;
  }

  .reflow-table table td:before {
    position: static;
    display: block;
    padding-bottom: 15px;
    font-weight:bold;
    white-space: normal;
    width: auto;
  }
  /* Label the data */
  .reflow-table table td:before { content: attr(data-title); }
}

@media only screen and (max-width: 767px) {
  .logo, .wlcmeTxtDiv { text-align: center; }
  .logo img {
    width: 80px;
    height: auto;
  }

  .wlcmeTxtDiv .wlcmeTxt {
    position: static;
    float: none;
    font-size: 12px;
    padding: 3px 8px;
  }
}

/* loader start */
.loader, .ie8 .loader {
  display:none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255,255,255,0.9);
  z-index: 1111;
}

.ie8 .loader {background: #fff;}
.loader img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 65px;
  height:auto;
}
/* loader end */
